* {

    box-sizing: border-box;

}

.sutun-1 {width: 8.33%;}
.sutun-2 {width: 16.66%;}
.sutun-3 {width: 25%;}
.sutun-4 {width: 33.33%;}
.sutun-5 {width: 41.66%;}
.sutun-6 {width: 50%;}
.sutun-7 {width: 58.33%;}
.sutun-8 {width: 66.66%;}
.sutun-9 {width: 75%;}
.sutun-10 {width: 83.33%;}
.sutun-11 {width: 91.66%;}
.sutun-12 {width: 100%;}

[class*="sutun-"] {

    float: left;
    padding: 30px;

}

.satir:after {
    content: "";
    clear: both;
    display: block;
}



/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

	*-------  Yatay konumdaki tabletler için  -------*

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

@media only screen and (max-width: 1199px) {

	nav.menu > ul > li {

		margin-right: 15px;

	}

	nav.menu > ul > li > a {

		height: 80px;

	}

	nav.menu > ul > li > a:before {

		margin-top: 20px;
		margin-bottom: 12px;
		font-size: 35px;

	}

	div.blogOzet {

		width: 58.33%;

	}

	[class*="sutun-"] {

		padding: 20px;

	}

	div.icerik > .sutun-6:nth-child(odd) {

		padding-right: 10px;

	}

	div.icerik > .sutun-6:nth-child(even) {

		padding-left: 10px;

	}

	ul.profil > li {

		font-size: 0.7em;

	}

	div.icerik {

		top: 120px;
		left: 20px;
		right: 20px;

	}

}



/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

	*-------  Dik konumdaki tabletler için  -------*

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

@media only screen and (max-width: 991px) {

	h3 {

		font-size: 16.7px;

	}

	nav.menu > ul > li {

		font-size: 0.8em;

	}

	nav.menu > ul > li > a {

		height: 65px;

	}

	nav.menu > ul > li > a:before {

		font-size: 25px;
		margin-top: 13px;
		margin-bottom: 3px;

	}

	div.maviAlan {

		padding: 15px;
		font-size: 15px;

	}

	div.maviAlan div.sosyal {

		padding: 15px;
		margin-left: -15px;

	}

	div.icerik {

		top: 100px;

	}

	span.periyot, span.tarih {

		font-size: 8px;

	}

	h3.baslik {

		font-size: 1em;

	}

	span.seviye {

		font-size: 0.7em;

	}

	figure.ozetResim {

		width: 60% !important;
		margin: 0 20%;

	}

	div.blogOzet {

		margin-top: 20px;
		margin-left: 0;
		width: 100%;

	}

	ul.kitaplik > li.sutun-4 {

		width: 50%;

	}

	.single-kitap article {

		padding: 0 20px;

	}

	.single-kitap ul {

		margin: 0;

	}

	section.kitapIcerik ul.profil>li {

	    font-size: 16px;
	    line-height: 19px;

	}

	figure.kitapAnaResim {

   		padding: 13px;

	}

}



/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

	*-------  Yatay konumdaki telefonlar için  -------*

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

@media only screen and (max-width: 767px) {

	[class*="sutun-"] {

		padding: 10px;

	}

	h3 {

		font-size: 20px;

	}

	div.icerik > [class*="sutun-"] {

		width: 100%;

	}

	nav.menu > ul > li {

		font-size: 0.6em;
		width: 14%;
		margin-right: 10px;

	}

	li.menu-item-has-children > ul > li > a {

		padding: 5px;

	}

	div.maviAlan {

		padding: 10px;

	}

	div.bilgi {

		margin-top: 5px;

	}

	div.bilgi h1.isim {

		font-size: 17px;

	}

	div.bilgi p.baslik {

		font-size: 9px;

	}

	div.bilgi p.yorumum {

		font-size: 8px;
		line-height: 10px;

	}

	div.bilgi p.yorumumZaman {

		font-size: 0.5em;
		margin-top: 5px;

	}

	div.sosyal {

		padding: 10px !important;
		margin-left: -10px !important;

	}

	div.sosyal span {

		font-size: 8px;
		line-height: 15px;

	}

	div.sosyal a {
		font-size: 20px;
		line-height: 20px;
	}


	div.icerik {

		top: 82px;
		bottom: 10px;
		left: 10px;
		right: 10px;

	}

	h3.baslik, span.periyot {

		width: 50% !important;
		font-size: 0.9em;

	}

	span.tarih {

		font-size: 15px;

	}

	span.yetenek {

		width: 60% !important;

	}

	span.seviye {

		width: 40% !important;
		font-size: 0.9em;

	}

	figure.blogResim {

		width: 100%;

	}

	div.blogMenu {

		margin-bottom: 10px;

	}

	footer {

		height: 10px;
		right: 10px;

	}

	footer > div {

		font-size: 0.4em;
		line-height: 10px;

	}

	section.kitapIcerik ul.profil>li {

	    font-size: 10px;
	    line-height: 12px;

	}

	section.kitapIcerik .yildizPuan {

    	font-size: 17px;

    }

    figure.kitapAnaResim {

	    padding: 10px;

	}

}



/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

	*-------  Dik konumdaki telefonlar için  -------*

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

@media only screen and (max-width: 479px) {

	[class*="sutun-"] {

	    padding: 20px;

	}

	div.ana > [class*="sutun-"] {

	    width: 100%;

	}

	div.ana {

	    overflow-x: visible;

	}

	aside.solSutun {

	    padding-right: 20px;
	    height: auto;

	}

	div.maviAlan {

	    padding: 20px;

	}

	div.bilgi {

	    text-align: center;
	    font-size: 20px;

	}

	div.bilgi h1.isim {

	    font-size: 40px;

	}

	div.bilgi p.baslik {

	    font-size: 17px;

	}

	div.bilgi p.yorumum {

	    font-size: 15px;
	    line-height: 20px;

    }

	hr.cizgi {

	    margin-top: 5px;

	}

	div.sosyal {

	    position: static;
	    padding: 30px 0 0 0 !important;
	    margin-left: 0 !important;
	}

	div.sosyal span {

		font-size: 16px;

	}

	div.sosyal a {

		font-size: 35px;

	}

	nav.menu {

		margin-bottom: 15px;

	}

	nav.menu > ul > li > a {

	    height: auto;

	}

	div.icerik {

	    position: static;

	}

	ul.resimler li {

	    width: 100%;
	    margin-bottom: 15px;

	}

	div.blogOzet {

	    margin-top: 10px;

	}

	div.blogBilgi {

	    display: block;
	    text-align: center;
	    margin-bottom: 10px;

	}

	div.blogMenu {

	    margin-top: 23px;
	    float: none;
	    text-align: center;
	    display: block;

	}

	pre {
	    font-size: 11px;
	}

	ul.kitaplik > li {

	    width: 100% !important;
	    display: block;

	}

	ul.profil > li {

		font-size: 0.8em;

	}

	section.kitapIcerik {

		padding-top: 0;

	}

	figure.kitapAnaResim.sutun-4,
	section.kitapIcerik > .sutun-8 {

		width: 100%;

	}

	section.kitapIcerik > .sutun-8 {

		padding: 0;
		margin-top: 15px;

	}

	section.kitapIcerik h3 {

	    text-align: center;

	}

	section.kitapIcerik > article {

		padding: 0;

	}

	div.kitapMenu a.buton {

		font-size: 0.8em;

	}

	div.arama {

	    float: none;
		text-align: center;

	}

	footer {

	    position: static;

	}

}



/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

	*-------  Küçük cep telefonları için  -------*

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

@media only screen and (max-width: 385px) {

	nav.menu > ul > li {

    	margin-right: 8px;

    }

    nav.menu > ul > li > a {

	    font-size: 6.8px;

    }

    nav.menu > ul > li > a:before {

		font-size: 16px;
	    margin-top: 3px;
	    margin-bottom: 0px;

    }

    span.seviye {

	    font-size:  0.7em;

    }

}



/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*

*-------  Menü efektlerinin sadece bilgisayarlarda geçerli olması için  -------*

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-*/

@media only screen and (min-width: 1200px) {

    nav.menu ul > li > a:hover {

	    background-color: #6BB4D7;
	    color: white;
	    border-color: white;
	    -webkit-transition-duration: 0.5s; /* Safari */
	    transition-duration: 0.5s;

	}

}



/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

			*-------  Retina Ayarları  -------*

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
 	   only screen and (-o-min-device-pixel-ratio: 3/2),
 	   only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

}
